<form action="" method="post">    
    Email: <input type="text" name="email" value="usman@usman.com"> <br />
    Password: <input type="password" name="password" value="usman"> <br />
    <input type="submit" value="Login"> <br />
</form>