<form action="" method="post">
    
    Email: <input type="text" name="email" value="hassan@gmail.com"/> <br />
    Password: <input type="password" name="password" value="hassan"/> <br />
    <input type="submit">
</form>