<h2>Edit Game</h2>

<form action="" method="post">
    title: <input type="text" name="title" value="<%= game.title %>"/> <br>
    type: <input type="text" name="type" value="<%= game.type %>"> <br>
    genre: <input type="text" name="genre" value="<%= game.genre %>"> <br>
    <input type="submit">
</form>