<h2>Create Games Form</h2>

<form action="" method="post">
    title: <input type="text" name="title" value="Tekken"/> <br>
    type: <input type="text" name="type" value="Action"> <br>
    genre: <input type="text" name="genre" value="combat"> <br>
    <input type="submit">
</form>