<form action="" method="post">
    Name: <input type="text" value="<%= student.name %>" name="name"/> <br/>
    Address: <input type="text"  name="address" value="<%= student.address %>"/> <br/>
    <input type="submit" value="Edit" /> <br/>
</form>