<form action="" method="post">
    Name: <input type="text" value="Hassan" name="name"/> <br/>
    Address: <input type="text" value="Lahore" name="address"/> <br/>
    <input type="submit" value="Add New" /> <br/>
</form>